@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Oswald:wght@400;700&display=swap');

canvas {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Nanum Gothic', sans-serif;
}

main {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100vh;
  width: 100%;
  position: absolute;
  color: white;
  z-index: 99;
}

.card {
  background-color: rgba(15, 15, 15, .5);
  margin: 20px auto;
  /* height: 80%; */
  padding: 1em;
}

section {
  height: 100vh;
}

.presentation {
  grid-column: 4 / span 5;
}

.name {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.teste {
  grid-column: 2 / span 5;
}

